@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Monoton&family=Open+Sans:wght@400;700&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

.bg {
    background-color: #EC2611;
    height: 100vh;
    background-size: cover;
    overflow: auto;

}

.head {
    color: white;
    text-align: center;

}

.fom {

    background-color: #FCFAFA;
    border-radius: 10px;
    padding: 30px;
}
